<!DOCTYPE html>
<html ng-app='loja'>
<head>
    <meta charset="UTF-8">
    <title>Loja App</title>
    <script type="text/javascript" src="node_modules/angular//angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/MeuController.js"></script>
</head>
<body>
    <div ng-controller="MeuController as ctrl">
        <h1> {{ ctrl.value }}</h1>
        <input ng-model="ctrl.value">
        <button ng-click="ctrl.incrementar()">+</button>
    </div>
    <br/>
</body>
</html>