<hr>
<div>
    <form action="" name="nossoForm">
        <input type="text" name="nome" id="nome" ng-model="nome" required="required">
        <input type="text" name="sobrenome" id="sobrenome" ng-model="sobrenome" required="required">
    </form>
    <p>Nome: {{ nome | uppercase }}</p>
    <p>Sobrenome: {{ sobrenome }}</p>

    <p><strong>Binding: {{ tutorialObject.bindOutput | currency }}</strong></p>
    <button ng-click="times2()">Multiply</button>
</div>
<br>
<a href="#/tutorialSecond">Tutorial Second Page</a>
